.Footer {
  display flex;
  flex-direction row;
  background $darkestColor;
  border-top 2px solid white;

  &__links {
    display flex;
    flex-direction column;
    margin-left 3rem;
    margin-top: 2rem;
  }

  &__link {
    color white !important;
    font-size 1rem;
    margin 1rem;
    cursor pointer;
  }
}