.Gradient-section {
  background: rgb(44,82,116);
  background: linear-gradient(0deg, rgba(44,82,116,1) 10%, rgba(182,146,194,1) 90%);
  margin-top $headerHeight;
  height "calc(%s * 5)" % $headerHeight;
}