.Players-online-section {
  margin-top 5rem;
  @keyframes players-refresh {
    from {color: white;}
    50% {color: $pink;}
    to {color: white;}
  }

  &__content {
    padding-top none;
    display flex;
    flex-direction row;
    justify-content center;
  }

  &__carousel {
    display flex;
    flex-direction row;
    align-items center;

    &__item {
      content url("/assets/test-png.png");
      width auto;
      max-height 20rem;
      min-height 5rem;
    }


    &__players {
      color white;
      text-align center;
      margin-top 0.5rem;

      &-refreshing {
        animation players-refresh 2s ease;
        animation-iteration-count 1;
      }
    }

    &__arrow {
      color white;
      font-size 2rem;
      cursor pointer;
      margin-bottom 1.5rem;
      &:hover {
        box-shadow 0 8px 16px 0 rgba(0,0,0,0.2);
        color $pink;
        transition all 0.5s ease 0s;
      }
    }

    &__arrow-left {
      @extend .Players-online-section__carousel__arrow;
      margin-right 2rem;
    }

    &__arrow-right {
      @extend .Players-online-section__carousel__arrow;
      margin-left 2rem;
    }
  }

  &__text {
    margin-left 5rem;
    color white;
    text-align left;
    max-width 30rem;


    &__description-header {
      font-size 2.5rem;
      font-weight 600;
    }

    &__description {
      font-size 1.25rem;
      margin-top 1.5rem;
      font-weight normal;
    }
  }

}