$headerHeight = 4.5rem;
$darkestColor = #1c1b29;
$darkNotDarkest = #292841;

@import "view/Main-view.styl";
@import "component/Header.styl";
@import "component/Footer.styl"
@import "component/main/Gradient-section.styl";
@import "component/main/Info-section.styl";


body {
  background-color black;
  color white;
}